.selected {
    font-size: 20px;
    border: 1px solid #000;
    background-color:#ee9;
    cursor: pointer;
    padding: 3px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.unselected {
    font-size: 20px;
    border: 1px solid #aaa;
    background-color:#eee;
    cursor: pointer;
    padding: 3px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.selectionButton {
    font-size: 20px;
    border: 1px solid #000;
    background-color:#bbb;
    cursor: pointer;
    padding: 3px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

#scramble {
    font-size: 20px;
    text-align: left;
}

#timer {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    height: 100%;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.big {
	font-size: 30px;
}

table#mainTable {
	width: 100%;
	height: 100%;
}

td {
	border: 1px solid #aaa;
	padding: 4px;
}

#selectBtn {
    text-decoration: underline;
    cursor: pointer;
}

/* Stats */
#stats {
    width: 30%;
    height: 100%;
    vertical-align: top;
}

.timeResult {
    cursor: pointer;
}

.timeResult:hover {
    color: red;
    cursor: pointer;
}

.timeResultBold {
    cursor: pointer;
	font-weight: bold;
}

.timeResultBold:hover {
    color: red;
    cursor: pointer;
}

#times {
    font-family: "Courier New", Courier, monospace;
	overflow: scroll;
	overflow-x: hidden;
	height: 95%;  /*gk*/
}

span.ollNameStats{
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
}

div.ollNameHeader {
	border-top: #aaa solid 1px;
}

span.ollNameStats {
    cursor: pointer;
}

span.ollNameStats:hover {
    color: green;
}

input[type=text] {
    border: 1px solid gray;
}

/*popup box with OLL case picture and info*/
#box {
    /*background-color: #001100;*/
}
#boxImg {
    width: 150px;
}

#boxTitle {
    font-weight: bold;
}

#boxalg {
    /*border: 0px;*/
}
#boxalternative {
    /*border: 0px;*/
}
#boxsetup {
    font-style: italic;
}

#hintWindowBack
{
	-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
	position: fixed;
	display: none; /* hidden at the beginning */
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

#hintWindow {
	display: none; /* hidden at the beginning */
	/*-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;*/
	position: fixed;
	z-index: 20;
	background-color: #eee;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* myButton */
.myButton {   -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;   -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;   box-shadow:inset 0px 1px 0px 0px #54a3f7;   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));   background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);   background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);   background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);   background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);   background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);   background-color:#007dc1;   -moz-border-radius:3px;   -webkit-border-radius:3px;   border-radius:3px;   border:1px solid #124d77;   display:inline-block;   cursor:pointer;   color:#ffffff;   font-family:Arial;   font-size:13px;   padding:4px 15px;   text-decoration:none;   text-shadow:0px 1px 0px #154682;  }  .myButton:hover {   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));   background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);   background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);   background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);   background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);   background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);   background-color:#0061a7;  }  .myButton:active {   position:relative;   top:1px;  }  
table.datagrid  { border-collapse: collapse; text-align: left;} .datagrid {font: normal 12px/150% Geneva, Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #aCaCaC; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid td, .datagrid th { padding: 3px 10px; }.datagrid thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');background-color:#8C8C8C; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #A3A3A3; } .datagrid thead th:first-child { border: none; }.datagrid tbody td { color: #0D0D0D; border-left: 1px solid #DBDBDB;font-size: 12px;font-weight: normal; }.datagrid tbody .alt td { background: #EBEBEB; color: #0D0D0D; }.datagrid tbody td:first-child { border-left: none; }.datagrid tbody tr:last-child td { border-bottom: none; }
